button,
input,
textarea{
    border: none;
    outline: none;
    background: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 360px;
}
label{
    margin-bottom: 8px;
    font-size: 16px;
}

input,
textarea {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 40px;
  width: 360px;
  padding: 8px 16px;
  border: solid 1px #808080;
  border-radius: 4px;
}

input:hover,
textarea:hover {
  border-color: #000000;
}

button {
    padding: 8px 16px;
    background-color: #4e75ff;
    color: #ffffff;
    font-weight: 500px;
    font-size: 16px;
    border-radius: 8px;
    width: 86px;
    height: 40px;
  }
  
  button:hover {
    background-color: #6c8cff;
  }
  
  .back {
    display: block;
    color: currentColor;
    text-decoration: none;
    font-size: 24px;
    padding: 8px;
    border-radius: 16px;
    color: black;
    transition: scale 300ms;
    margin-bottom: 16px;
    width: 40px;
  }
  
  .back:hover {
    scale: 1.2;
    transition: scale 300ms;
  }